body {
  padding-top: 60px;
}

.left {
  width: 80%;
  height: 100%;
  float: left;
  overflow-y: auto;
  position: fixed;
}

.squads {
  position: fixed;
  right: 0;
  width: 20%;
  height: 100%;
  float: right;
  padding: 10px 10px 80px 10px;
  overflow-y: auto;
}

.auction-block {
  width: 80%;
  height: 200px;
  padding: 20px 20px 20px 20px;
  position: fixed;
}

.available-teams {
  height: 100%;
  width: 80%;
  padding: 20px 20px 300px 20px;
  overflow-y: auto;
  position: fixed;
  top: 200px;
}

.chat {
  height: 20%;
  width: 80%;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

.chat-panel {
  height: 100%
}

.max-bid {
  padding: 10px 0 0 10px;
}

.btn.bid {
  padding: 10px 40px 10px 40px;
  margin-top: 30px;
}

td.nominate {
  padding: 3px 0 0 0 !important;
}

.current-bid {
  margin-top: 43px;
}

.clock {
  padding-top: 15px;
}

.squad {
  border-radius: 10px;
  padding-left: 15px;
}

.squad.nominate {
  background-color: #eee;
}