<template name="availableTeams">
  <div class="available-teams">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th colspan="7" class="text-center">
            2015 YTD
          </th>
          <th colspan="6" class="text-center">
            2015 Projected
          </th>
        </tr>
        <tr>
          <th>Name</th>
          <th>G</th>
          <th>W</th>
          <th>L</th>
          <th>W%</th>
          <th>RDif</th>
          <th>RS/G</th>
          <th>RA/G</th>
          <th>W</th>
          <th>L</th>
          <th>W%</th>
          <th>RDif</th>
          <th>RS/G</th>
          <th>RA/G</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each teams}}
        <tr>
          <td>
            {{ name }}
          </td>
          <td>{{ currentG }}</td>
          <td>{{ currentW }}</td>
          <td>{{ currentL }}</td>
          <td>{{ currentWP }}</td>
          <td>{{ currentRDif }}</td>
          <td>{{ currentRSG }}</td>
          <td>{{ currentRAG }}</td>
          <td>{{ projW }}</td>
          <td>{{ projL }}</td>
          <td>{{ projWP }}</td>
          <td>{{ projRDif }}</td>
          <td>{{ projRSG }}</td>
          <td>{{ projRAG }}</td>
          <td>
            {{#if squad.nominate}}
            <button class="btn btn-small nominate" id="{{ _id }}">Nominate</button>
            {{/if }}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>